#origin, #b-poem {
  width: 80%;
  margin:auto;
  font-size: 1.1em;
}

#blackout .black, #blackened .black {
      padding: 3px;
      font-size: 1.1em;
      background-color: #fff;
      display: inline-block;
      margin:0px;
      -webkit-clip-path: polygon(0 0, 97% 0, 100% 98%, 0 100%);
      clip-path: polygon(0 0, 95% 0, 100% 96%, 0 100%);
      margin-left: -5px;
      color: #000;
      border:none;
    }

#blackout .black div:nth-child(odd), #blackened .black div:nth-child(odd) { 
      -webkit-clip-path: polygon(0 0, 87% 0, 90% 97%, 0 93%);
        clip-path: polygon(0 0, 87% 0, 87% 97%, 0 93%);
      }

#origin .black, #b-poem .black {
      background-color: rgb(95, 197, 197);
      color: rgb(95, 197, 197);
      -webkit-clip-path: polygon(0 0, 97% 0, 100% 98%, 0 100%);
      clip-path: polygon(0 0, 95% 0, 100% 96%, 0 100%);
      display: inline-block;
      }

#origin .white {
      background-color: #fff;
      display: inline-block;
      color: #000;
      font-size: 1em;
      }

#blackout .white, #blackened .white {
      padding: 3px;
      background-color: #fff;
      display: inline-block;
      margin:0px;
      border: none;
      padding:0px;
      font-size: 1em;
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 0px;
      padding-bottom: 0px;
      color: #000 !important;
    }
    
.buttonProps, .button, #gform_submit_button_1    {
      outline: none;
      background-color: #fff;
      border: none;
      padding:0px;
      color: #000 !important;
      text-transform: none !important;
      display: inline-block;
    }

 #blackened {
  width: 70%;
  line-height: 1.4em; 
  margin: auto;
 }  

 #blackened p {
  margin: none;
 }

 

 input[type=submit] { 
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 10px;
 }
.poem-buttons {
  width: 50%;
  margin:auto;
}

.poembutton, #gform_submit_button_1 {
  font-family: 'Open Sans', sans-serif;
    border: 1px solid #dfdfdf;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 8px 15px;
    margin: 0 0 20px 0;
    width: 100%;
    resize: none;
    margin-top: 10px;
}

#post-submission-form {
  display: inline-block;
}



/** MAIN SOURCE POST  **/

.poem-title .entry-title {
  width: 40%;
  margin: auto;
  padding-bottom: 12px;
  padding-top: 30px;  
}

#poemsource, #blackened {
  width: 50%;
  padding: 20px;
  margin:auto;
}


.source {
  margin-top: 10px; 
  background-color: #efefef;
  padding: 3px;
}

.child-poems-list .pagenav{
  list-style: none;
  width: 50%;
  padding: 20px;
  margin: auto;
  border: 1px solid #efefef;
  margin-bottom: 10px;
 }

 .child-poems-list .pagenav ul {
  margin-top: .5em;
  list-style: none;
 }

 .child-poems-list .pagenav li {
  margin-top: 5px;
  border-left: 20px solid rgb(95, 197, 197);
  margin-left: 7px;
  padding-left: 7px; 
 }

 .poem-parent {
  width: 50%;
  margin:auto;
  padding: 3px;
 }

@media only screen and (max-width: 900px) {
  .poem-title .entry-title {
  width: 80%;
  margin: auto;
  padding-bottom: 12px;
  padding-top: 10px;  
}

#poemsource, #blackened {
  width: 80%;
  padding: 20px;
  margin:auto;
}

.child-poems-list .pagenav{
  width: 80%;

 }

}